---
import BaseLayout from '../layouts/BaseLayout.astro';
import { allJobsDb } from '../xata'

const jobs = await allJobsDb.getAll()
---

<BaseLayout title="DevJobs | Home">
	<main>
		<h1>Home Page</h1>
	</main>
</BaseLayout>
