---
import BaseLayout from '../layouts/BaseLayout.astro';
import JobCard from '../components/JobCard.astro'
import FilterOptions from '../components/FilterOptions.astro'
import CustomButton from '../components/CustomButton.astro'
import { allJobsDb } from '../xata'

const jobs = await allJobsDb.getAll()
---

<BaseLayout title="DevJobs | Home">
	<main class="grid gap-32">
		<FilterOptions />
		<div class="grid mb-[104px]">
			<div class="grid md:grid-auto-fit-[350px] gap-y-[65px] gap-x-6" data-container="jobs">
				{jobs.map((job, index) => index + 1 <= 12 ? <JobCard job={job} />  : null)}
				<template data-template="jobs">
					{jobs.map((job) => <JobCard job={job} />)}
				</template>
			</div>
			{<CustomButton moreClasses='justify-self-center mt-14' dataLoad='index'>Load More</CustomButton>}
		</div>
	</main>
</BaseLayout>

<script>
	import { loadMoreJobs, addListenerToLoadButton } from "../helpers/loadMoreButton"

	const jobsForm = document.querySelector('[data-form="jobs"]') as HTMLFormElement

	const getInputValues = () => {
		const formDataInstance = new FormData(jobsForm)
		return Object.fromEntries(formDataInstance)
	}

	const checkFormValidity = () => {
		const { search, location, fullTime } = getInputValues()

		const noInputFilled = search === '' && location === '' && fullTime == null
		if (noInputFilled) return false

		return true
	}

	const makeQueryLink = () => {
		const { search, location, fullTime } = getInputValues()

		const searchURL = new URL('jobs', window.location.origin)
		if (search !== '') {
			searchURL.searchParams.set('job', search as string)
		}

		if (location !== '') {
			searchURL.searchParams.set('location', location as string)
		}

		if (fullTime != null) {
			searchURL.searchParams.set('full-time', 'true')
		}

		return searchURL
	}

	const handleSubmit = (e: Event) => {
		e.preventDefault()

		const isFormValid = checkFormValidity()
		if (!isFormValid) return

		const searchURL = makeQueryLink()
		window.location.assign(`jobs/${searchURL.search}`)
	}

	jobsForm.addEventListener('submit', handleSubmit)
	addListenerToLoadButton('button[data-load="index"]')
</script>
