<button
  aria-label="click here to scroll up to the top of the page"
  data-button="scroll-to-top"
  class="scroll-to-top"
>
  <img src="/img/top-arrow.svg" alt="" class="scale-[0.8]" />
</button>

<script>
  const button = document.querySelector('[data-button="scroll-to-top"]')

  button?.addEventListener('click', () => {
    window.scrollTo(0, 0)

    const homePageLink = document.querySelector(
      '[data-link="home-page"]'
    ) as null | HTMLAnchorElement
    if (homePageLink != null) {
      homePageLink.focus()
    }
  })
</script>

<style>
  .scroll-to-top {
    @apply fixed bottom-6 right-6 p-3 w-[clamp(2rem,10vw,3rem)] aspect-square;
    @apply bg-blue-500 outline outline-2 outline-offset-0;
    @apply outline-white dark:outline-gray-800 box-content rounded-full z-50;
    @apply hover:bg-blue-400 focus-visible:bg-blue-400;
    @apply hover:outline-offset-2 hover:outline-blue-400;
    @apply focus-visible:outline-offset-2 focus-visible:outline-blue-400;
    @apply transition-colors duration-300;
  }
</style>
