---
import { twMerge } from 'tailwind-merge'

interface Props {
  ariaLabel?: string
  moreClasses?: string
  dataNext?: string
}

const { ariaLabel, moreClasses, dataNext } = Astro.props
---

<button
  aria-label={ariaLabel || undefined}
  data-next={dataNext || undefined}
  class={twMerge('custom-button custom-button-padding', moreClasses)}
>
  <slot />
</button>

<style>
  [data-next='false'] {
    @apply hidden;
  }
</style>
