---
import { twMerge } from 'tailwind-merge'

interface Props {
  ariaLabel?: string
  moreClasses?: string
  dataLoad?: string
}

const { ariaLabel, moreClasses, dataLoad } = Astro.props
---

<button
  aria-label={ariaLabel || undefined}
  data-load={dataLoad || undefined}
  class={twMerge('custom-button custom-button-padding', moreClasses)}
>
  <slot />
</button>

<style>
  .hide-button {
    @apply hidden;
  }
</style>
