---
import CustomButton from './CustomButton.astro'
import SearchIcon from './svgs/SearchIcon.astro'
import AdditionalFilterOptions from './AdditionalFilterOptions.astro'
import ErrorToast from './ErrorToast.astro'
---

<ErrorToast />
<form class="main-form" data-form="jobs">
  <div class="input-pair focus-within">
    <SearchIcon fill="hsl(235, 68%, 61%)" classNames="hidden md:block" />
    <input
      autofocus
      type="search"
      name="search"
      placeholder="Filter by title, companies, expertise..."
    />
    <button
      type="button"
      class="md:hidden flex items-center gap-5 p-3 ml-auto"
      aria-label="click here to see more filter options"
      data-button="filter"
    >
      <img src="/img/icon-filter.svg" alt="" />
    </button>
    <CustomButton
      ariaLabel="Click here to search"
      smallerPadding="px-2 py-2"
      moreClasses="md:hidden"
    >
      <SearchIcon fill="white" classNames="scale-75" />
    </CustomButton>
  </div>
  <AdditionalFilterOptions
    locationName="location"
    fullTimeName="fullTime"
    moreWrapperStyles="hidden md:flex"
    moreLocationStyles="input-pair"
  />
  <dialog class="md:hidden backdrop:bg-black backdrop:opacity-50">
    <form>
      <AdditionalFilterOptions
        locationName="locationMobile"
        fullTimeName="fullTimeMobile"
        moreWrapperStyles="grid gap-6"
        moreLocationStyles="flex gap-4 px-0 pb-6 border-b border-gray-200 dark:border-gray-700"
      />
    </form>
  </dialog>
</form>

<script>
  const filterButton = document.querySelector('[data-button="filter"]')
  const dialog = document.querySelector('dialog')

  dialog?.addEventListener('click', (e) => {
    if (e.target === e.currentTarget) {
      dialog.classList.remove('fadeIn')
      dialog.classList.add('fadeOut')
      setTimeout(() => {
        dialog.close()
      }, 300)
    }
  })

  filterButton?.addEventListener('click', () => {
    if (dialog != null) {
      dialog.showModal()
      dialog.classList.remove('fadeOut')
      dialog.classList.add('fadeIn')
    }
  })
</script>

<style>
  .main-form {
    @apply flex items-center rounded-md overflow-hidden bg-white dark:bg-gray-800;
  }

  .fadeIn {
    @apply animate-fadeIn backdrop:animate-fadeIn;
  }

  .fadeOut {
    @apply animate-fadeOut backdrop:animate-fadeOut;
  }
</style>
