---
import ThemeToggler from "./ThemeToggler.astro";
---

<header class="grid content-start row-start-1 row-span-2 col-start-1 min-h-[8.5rem] md:min-h-[10rem] bg-hero-bg md:rounded-bl-[100px]">
  <div class="wrapper flex justify-between mt-11">
    <img src="/img/logo.svg" alt="devjobs logo" class="max-[350px]:scale-75">
    <ThemeToggler />
  </div>
</header>