---
import ThemeToggler from "./ThemeToggler.astro";
---

<header class="grid content-start min-h-[8.5rem] md:min-h-[10rem] bg-hero-bg md:rounded-bl-[100px]">
  <div class="wrapper flex justify-between mt-11">
    <img src="/img/logo.svg" alt="devjobs logo">
    <ThemeToggler />
  </div>
</header>