---
import ErrorMagnifyingGlass from './svgs/ErrorMagnifyingGlass.astro'
---

<div class="error-container">
  <ErrorMagnifyingGlass />
  <h2 class="text-xl font-bold">No job offers found</h2>
  <p>
    <span>Try searching by a different query or go back to the&nbsp;</span>
    <a href="/">home page</a>
  </p>
</div>
